<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>MFA - 커뮤니티</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="flex flex-col min-h-screen bg-gray-900 text-gray-300">
<div th:replace="~{header :: header}"></div>

<main class="flex flex-col items-center flex-1 py-12">
    <div class="w-full max-w-4xl auction-card">

        <div class="p-6 flex flex-col items-center">


            <table class="w-full table-fixed text-lg border-separate border-spacing-2">
                <tbody>
                <tr>
                    <th>ID</th>
                    <td th:text="${board.id}"></td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td th:text="${board.boardTitle}"></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td th:text="${board.boardContents}"></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td th:text="${board.memberName}"></td>
                </tr>
                <tr>
                    <th>작성 시간</th>
                    <td th:text="${board.boardCreatedTime}"></td>
                </tr>
                <tr>
                    <th>조회 수</th>
                    <td th:text="${board.boardHits}"></td>
                </tr>
                <tr class="profile-image-container mb-6" th:if="${board.fileAttached == 1}">
                    <img th:src="@{|/Board/${board.storedFileName}|}" alt="Profile Image" class="profile-image">
                </tr>
                </tbody>
            </table>

            <div class="button-container flex items-center space-x-4">
                <button id="like-button" onclick="toggleLike()" class="flex items-center px-4 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600">
                    👍 좋아요
                </button>
                <span id="like-count" class="like-count text-lg font-semibold text-blue-500" th:text="${board.likesCount}">0</span>

                <button id="hate-button" onclick="toggleHate()" class="flex items-center px-4 py-2 bg-red-500 text-white rounded-lg shadow-md hover:bg-red-600">
                    👎 싫어요
                </button>
                <span id="hate-count" class="like-count text-lg font-semibold text-red-500" th:text="${board.hatesCount}">0</span>

            </div>

            <br>
            <button onclick="listReq()" class="btn-gold">목록</button>

        </div>
    </div>

    <div id="comment-write" style="margin-top: 3%;">
        <input type="hidden" id="memberId" th:value="${session.loginId}">
        <input type="text" id="commentWrite" th:value="${session.loginName}" style="color: black" th:readonly="true" placeholder="작성자">
        <input type="text" id="commentContents" placeholder="내용">
        <button id="comment-write-button" onclick="commentWrite()" class="btn-gold">댓글 작성</button>
    </div>

    <div id="comment-list" style="width: 52%;">
    </div>
</main>
<div th:replace="~{footer :: footer}"></div>
</body>

<script th:inline="javascript">
    const listReq = () => {
        const page = [[${page}]];
        location.href = "/Board/list?page=" + page;
    };


    const renderComments = (res) => {
        let output = "<table>";
        output += "<tr><th>댓글번호</th><th>작성자</th><th>내용</th><th>작성시간</th></tr>";
        for (let i in res) {
            output += "<tr>";
            output += "<td>" + res[i].id + "</td>";
            output += "<td>" + res[i].commentWriter + "</td>";
            output += "<td>" + res[i].commentContents + "</td>";
            output += "<td>" + res[i].commentCreatedTime + "</td>";
            output += "</tr>";
        }
        output += "</table>";
        document.getElementById('comment-list').innerHTML = output;
    };

    const commentWrite = () => {
        const memberId = document.getElementById('memberId').value;
        const writer = document.getElementById('commentWrite').value;
        const contents = document.getElementById('commentContents').value;
        const id = [[${board.id}]];

        $.ajax({
            type: "POST",
            url: "/board_comment/save",
            data: {
                "memberId": memberId,
                "commentWriter": writer,
                "commentContents": contents,
                "boardId": id
            },
            success: function (res) {
                console.log("댓글 저장 성공", res);
                renderComments(res);
                document.getElementById('commentContents').value = '';
            },
            error: function (err) {
                console.log("댓글 저장 실패", err);
            }
        });
    };


</script>
</html>
