<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>MTA - 낙찰받은 경매 물품 목록</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="flex flex-col min-h-screen">
<div th:replace="~{header :: header}"></div>

<main class="flex flex-col items-center flex-1 py-20">
    <div class="w-full max-w-7xl auction-card">
    <div class="auction-header text-xl">낙찰받은 경매 물품 목록</div>

        <div class="p-6 flex-grow">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>경매 물품 등록자</th>
                    <th>경매 물품</th>
                    <th>낙찰 받은 금액</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="buylist: ${BuyList}">
                    <td class="text-center" th:text="${buylist.id}"></td>
                    <td class="text-center" th:text="${buylist.getAuctionRegistrar()}"></td>
                    <td style="text-align: center">
                        <a th:href="@{/Member/buyDetail/{id}(id=${buylist.auctionId})}"
                           th:text="${buylist.auctionTitle}"
                           class="text-yellow-300 hover:underline"></a>
                    </td>

                    <td class="text-center" th:text="${buylist.winningPrice}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination flex justify-center gap-2 mt-6 p-4" th:if="${BuyList.totalPages > 0}">
            <a th:href="@{/Member/buyList/{id}(id=${loginId}, page=1)}" class="btn-gold">First</a>
            <a th:if="${!BuyList.first}" th:href="@{/Member/buyList/{id}(id=${loginId}, page=${BuyList.number})}" class="btn-gold">Prev</a>

            <span th:each="page: ${#numbers.sequence(startPage, endPage)}" class="btn-gold">
        <span th:if="${page == BuyList.number + 1}" th:text="${page}"></span>
        <a th:unless="${page == BuyList.number + 1}"
           th:href="@{/Member/buyList/{id}(id=${loginId}, page=${page})}" th:text="${page}"></a>
    </span>

            <a th:if="${!BuyList.last}" th:href="@{/Member/buyList/{id}(id=${loginId}, page=${BuyList.number + 2})}" class="btn-gold">Next</a>
            <a th:href="@{/Member/buyList/{id}(id=${loginId}, page=${BuyList.totalPages})}" class="btn-gold">Last</a>
        </div>


    </div>
</main>
<div th:replace="~{footer :: footer}"></div>
</body>

</html>
